.backdrop {
  position: absolute;
  background-color: black;
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal-body {
  min-width: 200px;
  background-color: white;
  padding: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-body form {
  width: 500px;
  height: 500px;
}

.hidden {
  display: none;
}

.modal-close-button {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
