.counter-container {
  display: flex;
  flex-direction: column;
}

.counter-button-container {
  display: flex;
  gap: 10px;
}

.counter-button-container button {
  padding: 4px 8px;
  border: 1px solid black;
  cursor: pointer;
  width: 60px;
  background-color: #f1f1f1;
}
